<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ThreeWayFaceTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65C45C811BFA9B5D0019E91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65C45C981BFA9B5E0019E91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65C45CA31BFA9B5E0019E91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
